<sb-layout-dashboard
    ><sb-dashboard-head title="Charts" [hideBreadcrumbs]="false"></sb-dashboard-head
    ><sb-card
        ><div class="card-body text-center text-primary ">Crud application </div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Crud Form</div>
        <div class="card-body"><sb-charts-area></sb-charts-area></div>
        <div class="card-footer small text-muted">Tutorial for Create , Update , Delete and Add_data  using Angular And Nodejs server....</div></sb-card
    >
    </sb-layout-dashboard
>
